<html>
  <head>
    <title>TM</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      .scrollable {
        max-height: calc(100vh - 6rem);
        overflow-y: scroll;
      }
    </style>
  </head>
  <body>
    <% include ./partials/home_nav %>
    <div class="container-fluid pt-3">
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-striped">
            <thead>
              <th>ID</th>
              <th>Name</th>
              <th>Tw</th>
              <th>RT</th>
              <th>Active</th>
            </thead>
            <tbody>
              <% terms.forEach((term, index) => { %>
              <tr>
                <td><%- index + 1 %></td>
                <td>
                  <a href="https://contactolegislativo.com/camara-de-diputados/LXIII/<%- term.slug %>" target="_blank"><%- term.name %></a>
                </td>
                <td>
                  <a href="/tw/<%- term.name %>" target="_blank"><%- term.tweet %></a>
                </td>
                <td>
                  <a href="/rt/<%- term.name %>" target="_blank"><%- term.rt %></a>
                </td>
                <td>
                  <% if(term.monitor) { %>
                    <i class="fa fa-check text-success"></i>
                  <% } else { %>
                    <i class="fa fa-close text-danger"></i>
                  <% } %>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
