<html>
  <head>
    <title>TM</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      .scrollable {
        max-height: calc(100vh - 6rem);
        overflow-y: scroll;
      }
    </style>
  </head>
  <body>
    <% include ./partials/nav %>
    <div class="container-fluid pt-3">
      <div class="row">
        <div class="col-sm-3">
          <ul class="list-group scrollable">
            <a class="list-group-item list-group-item-action text-light bg-dark" href="/">TwitterStream</a>
            <% terms.forEach((term, index) => { %>
              <a class="list-group-item list-group-item-action <%- term.name === selected.name ? 'active' : '' %>" href="/tw/<%- term.name ? term.name.replace('#','') : 'NA'%>">
                <%- index + 1 %>) <span class=""><%- term.name %></span>
                <span class=" float-right badge <%- term.tweet > 0 ? 'badge-success' : 'badge-secondary' %> "><%- term.tweet %></span>
              </a>
            <% }) %>
          </ul>
        </div>
        <div class="col-sm-9">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th></th>
                <th>User</th>
                <th>Fw/fr</th>
                <th>Fw/S</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%
                tweets.forEach( tweet => {
                  let created = new Date(tweet.data.user.created_at);
                %>
                <tr>
                  <td>
                    <img class="rounded" src="<%- tweet.data.user.profile_image_url_https %>"/>
                  </td>
                  <td>
                    <span class="font-weight-bold"><%- tweet.data.user.name %></span>
                    <a href="https://twitter.com/<%- tweet.data.user.screen_name %>" target="_blank" class="font-weight-bold">@<%- tweet.data.user.screen_name %></a> &nbsp;
                    <span class="font-italic" style="font-size: small;"><i class="fa fa-calendar-o" aria-hidden="true"></i> <%- created.getMonth() + 1 %>/<%- created.getFullYear() %></span> &nbsp;
                    <a href="https://twitter.com/<%- tweet.data.user.screen_name %>/status/<%- tweet.data.id_str %>" target="_blank"><i class="fa fa-external-link"></i></a>
                    <span class="d-block font-weight-light text-justify" style="font-size: 14px;"><%- tweet.data.truncated ? tweet.data.extended_tweet.full_text : tweet.data.text %></span>
                  </td>
                  <td>
                    <%- (tweet.data.user.followers_count / tweet.data.user.friends_count).toFixed(2); %> |
                    <%- (tweet.data.user.followers_count / tweet.data.user.statuses_count).toFixed(2); %>
                  </td>
                  <td>
                    <%- tweet.quality.user.name_complexity.toFixed(2) %> |
                    <%- tweet.quality.user.profile_compexity.toFixed(2) %>
                  </td>
                  <td>
                    <span class="d-block badge <%- tweet.data.user.statuses_count > 1000 ? 'badge-success': (tweet.data.user.statuses_count > 500 ? 'badge-info':'badge-light') %>">S:<%- tweet.data.user.statuses_count %></span>
                    <span class="d-block badge <%- tweet.data.user.followers_count > 1000 ? 'badge-success': (tweet.data.user.followers_count > 500 ? 'badge-info':'badge-light') %>">Fw:<%- tweet.data.user.followers_count %></span>
                    <span class="d-block badge <%- tweet.data.user.friends_count > 1000 ? 'badge-success': (tweet.data.user.friends_count > 500 ? 'badge-info':'badge-light') %>">fr: <%- tweet.data.user.friends_count %></span>
                  </td>
                </tr>
              <% }) %>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <%
                    offset = parseInt(offset);
                    limit = parseInt(limit);
                    count = parseInt(count);
                  %>
                  <nav>
                    <ul class="pagination">
                      <li class="page-item <%- offset == 0 ? 'disabled' : '' %>">
                        <a class="page-link" href="?offset=<%- offset - limit %>&limit=<%- limit%>">Previous</a>
                      </li>
                      <% for(var i = offset; i < offset + (10 * limit) && i < count ; i += limit) { %>
                        <li class="page-item"><a class="page-link" href="?offset=<%- i%>&limit=<%- limit%>"><%- i/limit %></a></li>
                      <% } %>
                      <li class="page-item <%- offset + limit > count ? 'disabled' : '' %>">
                        <a class="page-link" href="?offset=<%- offset + limit %>&limit=<%- limit%>" tabindex="-1">Next</a>
                      </li>
                    </ul>
                  </nav>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
